* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    background-color: #fff;
    font-family: "Source Sans 3", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: var(--primary-color);
    text-align: center;
}

a {
    color: var(--primary-color);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 var(--spacing);
}

.container ul, .error-manager {
    max-width: 60ch;
    margin-inline: auto;
}

.error-manager h2 {
    text-align: left;
    font-size: 1rem;
}

.form-container {
    max-width: 60ch;
    margin-inline: auto;
}

label {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input, select, textarea {
    margin-bottom: var(--spacing);
    margin-top: 0.5rem;
    background-color: var(--grey);
    width: 100%;
    border-radius: 5px;
    border: none;
}

input, select {
    height: 2rem;
}

textarea {
    resize: none;
}

.redstar {
    color: red;
}

button {
    padding: .25rem 1.75rem;
    background-color: var(--primary-color);
    color: var(--primary-color-inverse);
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}